<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet-mapping>
        <servlet-name>ListarEntidades</servlet-name>
        <url-pattern>/listaentidades</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Leilão de CER</display-name>
    <description>
    Aplicação Web de leião de créditos de carbono criada para o trabalho
    integrado.
    </description>
    <servlet>
        <description>Servlet controlador do caso de uso Propor Leilão</description>
        <servlet-name>ProporLeilao</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.ProporLeilao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEntidade</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.CadastrarEntidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarLeiloes</servlet-name>
        <servlet-class>pnc.leilaoVerde.dominio.administrativo.ListarLeiloes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarLance</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.RealizarLance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLeilao</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.GerenciarLeilao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEntidades</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.ListarEntidades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProporLeilao</servlet-name>
        <url-pattern>/propostaleilao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEntidade</servlet-name>
        <url-pattern>/cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarLeiloes</servlet-name>
        <url-pattern>/leilao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarLance</servlet-name>
        <url-pattern>/leilao/lance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLeilao</servlet-name>
        <url-pattern>/leilao/editar</url-pattern>
    </servlet-mapping>
</web-app>
