<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Leilão de CER</display-name>
    <description>
    Aplicação Web de leião de créditos de carbono criada para o trabalho
    integrado.
    </description>
    <jsp-config>
        <jsp-property-group>
            <display-name>Jsp config</display-name>
            <url-pattern>*.jsp</url-pattern>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>
        </jsp-property-group>
    </jsp-config>
    <listener>
        <description>RequestListener</description>
        <listener-class>pnc.leilaoVerde.controle.WebAppListener</listener-class>
    </listener>
    <servlet>
        <description>Servlet controlador do caso de uso Propor Leilão</description>
        <servlet-name>ProporLeilao</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.ProporLeilao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProporLeilao</servlet-name>
        <url-pattern>/propostaleilao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastrarEntidade</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.CadastrarEntidade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarEntidade</servlet-name>
        <url-pattern>/cadastrar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarLeiloes</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.ListarLeiloes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarLeiloes</servlet-name>
        <url-pattern>/leilao</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Realização de lances</description>
        <servlet-name>RealizarLance</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.RealizarLance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RealizarLance</servlet-name>
        <url-pattern>/leilao/lance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GerenciarLeilao</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.GerenciarLeilao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarLeilao</servlet-name>
        <url-pattern>/leilao/editar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListarEntidades</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.ListarEntidades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarEntidades</servlet-name>
        <url-pattern>/listaentidades</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidarEntidade</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.ValidarEntidade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarEntidade</servlet-name>
        <url-pattern>/validarEntidade</url-pattern>
    </servlet-mapping>
</web-app>
