<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Leilão de itens verdes (CERs)</display-name>
    <description>
    Aplicação Web de leião de créditos de carbono criada para o trabalho
    integrado.
    </description>
    <servlet>
        <description>Servlet controlador do caso de uso Propor Leilão</description>
        <servlet-name>ProporLeilao</servlet-name>
        <servlet-class>pnc.leilaoVerde.apresentacao.ProporLeilao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProporLeilao</servlet-name>
        <url-pattern>/proposta-leilao</url-pattern>
    </servlet-mapping>
</web-app>
