article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

body {
	padding: 1ex;
	background: url('../images/whiteNoise.png') repeat #69AA69;
	font: 13px normal Calibri, Tahoma, Verdana;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.clear-float {
	clear: both;
}

#logo, section{
	box-shadow: 0px 3px 5px #000;
	border-radius: .7em;
}

#logo {
	float: left;
}

header {
	margin: 0px 0px 0.3em 0px;
	float: left;
	width: 100%;
}

header h1 {
	font-weight: bold;
	font-size: xx-large;
	text-align: center;
	padding: .8em;
	text-shadow: 0px 3px 5px #000;
}

header h1 ,#breadcrumb li, #breadcrumb li a{
	color: #AAFFAA;
}

#breadcrumb{
	border: 0px solid #AAFFAA; /* Mesma cor do #contexto */
	border-width: thin 0px thin 0px;
	margin: 1ex 0;
	padding: 1ex 0;
	clear: both;
}

#breadcrumb li{
	display: inline-block;
	font-weight: bold;
}

#breadcrumb li a {
	font-weight: bold;
}

#breadcrumb li a:after {
	content: " > ";
}

#contexto {
	background-color: #AAFFAA; /* Mesma cor da borda de breadcumb */
	padding: 1em;
}

#contexto:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    padding: 0;
    line-height: 1px;
}

#nav_contexto, #nav_contexto a, #nav_contexto h2{
	color: #006600; /* Mesma cor da borda abaixo */
}

#nav_contexto, #nav_contexto a, #nav_contexto h2, #sc_contexto{
	border-style: solid;
	border-color: #88AA88; /* Mesma cor de A acima */
	border-width: 0px;
}

#nav_contexto {
	width: 30ex;
	float: left;
	padding: 1ex;
}

#nav_contexto, #sc_contexto{
	background: #CCFFCC url('../images/whiteNoise.png') repeat;
	border-top-color: #DDFFDD;
	border-width: 0px;
	box-shadow: 0px 0px .5em #999;
	padding: 1em;
}

#nav_contexto h2 {
	font-weight: bold;
	font-size: larger;
	text-align: center;
	border-bottom-width: thin;
}

#nav_contexto a {
	margin: 1ex 0ex;
	border-width: thin 0px thin 0px; 
	text-align: center;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

#nav_contexto a:hover {
	text-decoration: underline;
}

#sc_contexto{
	margin-left:36ex;
}

#sc_contexto p {
	margin-bottom: 1ex;
}

#sc_contexto h2 {
	text-align: center;
	font-size: larger;
	margin-bottom: 1em;
}

footer{
	clear:both;
	/* background-color: #060; */
	color: #afa;
	text-align: center;
	font-size: small;
	font-family: Arial, sans;
	/* border: thin solid black; */
	padding: 1ex;
}

span{
	width:  14em;
	display: inline-block;
}

table {
    border-collapse: collapse;
}

td {
    border: solid black thin;
    padding: 1ex;
    text-align: center;
}

thead td {
    font-weight: bold;
}

@media screen and (max-width:640px) {
	#nav_prin {	
		display: none;		
	}	
	header h1 {
		color: #afa;
		font-weight: bold;
		font-size: large;
		text-align: center;
		padding: 0px;
		margin: 0px;
	}
	#nav_contexto {
		width: auto;
		float: none;
		border: 0.3ex solid #060;
		padding: 1ex;
	}
	
	#sc_contexto{
		margin-left: 0ex;
		border: 0.3ex solid #060;
		padding: 1ex;
	}
	
	#breadcrumb{
		font-size: small;
	}
	
	header {	
		text-align:center;
	}
	
	#logo {
		float:none;
		width: 50%;
		max-width: 120px;
	}
}

/* Item eliminado
#nav_prin {
	clear:both;
	margin: 1ex 0;
	border-bottom: thick solid #AAFFAA;
}

#nav_prin  h2 {
	display:none;
}

#nav_prin li {
	display: inline-block;
}

#nav_prin li a {
	display: inline-block;
	background-color: #afa;
	padding: 1ex;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 6px;
	text-decoration: none;
	font-weight: bold;
	color: #060;
}*/